{% extends 'libreria/base.html' %}
{% load static %}
{% block title %}
    Libros
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Libros</h4>
            <div class="table-responsive">
                <table class="table table-bordered"
                       id="dataTable"
                       width="100%"
                       cellspacing="0">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Imagen</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in page_obj %}
                            {% csrf_token %}
                            <tr>
                                <td>{{ libro.titulo }}</td>
                                <td>
                                    <img src="{% static 'media/' %}{{ libro.imagen }}" alt="" width="100px">
                                </td>
                                <td>{{ libro.descripcion }}</td>
                                <td>
                                    <button class="btn btn-primary"
                                            onclick="return openModal('{% url 'edit' libro.id %}')">Editar</button>
                                    <form action="{% url 'delete' libro.id %}" class="d-inline" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit">Eliminar</button>
                                    </form>
                                    {% comment %} <a class="btn btn-danger" href='{% url 'delete' libro.id %}'>Eliminar</a> {% endcomment %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.paginator.num_pages }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="response"></div>
    </div>
    <!-- Button trigger modal -->
    <button type="button"
            class="btn btn-primary mt-3"
            onclick="return openModal('{% url 'new' %}')">Agregar</button>
{% endblock content %}
